<div class="container">
  <header class="jumbotron">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Witaj w naszym sklepie!</h1>
        <p>Aby zrobi zakupy w naszym sklepie musisz by zalogowanym!</p>
        <p><a class="btn btn-primary btn-lg" href="/login" role="button">Zaloguj się</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Komputery</h2>
          <p>Najlepsze na rynku i najszybsze komputery. Na każdą okazję!</p>
          <p><a class="btn btn-secondary" href="#" role="button">Bardzo dobre ceny</a></p>
        </div>
        <div class="col-md-4">
          <h2>Tablety</h2>
          <p>A może tablet? Do nauki zdalnej w sam raz :)</p>
          <p><a class="btn btn-secondary" href="#" role="button">A to wszystko w naszym sklepie</a></p>
        </div>
        <div class="col-md-4">
          <h2>iPhony</h2>
          <p>Android? Kto chciałby androida! Już dziś zaloguj się i kup w naszym sklepie świeżutkiego iPhona!</p>
          <p><a class="btn btn-secondary" href="#" role="button">#AppleFan</a></p>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->
  </header>
</div>
